<% include ../partials/header %>

    <!-- End Topbar Section -->

<section id="main" class="sec-pad">
  <div class="container">
    <div class="row text-center">
      <div style="width: 40%; margin: 0 auto;">
        <input type="email" name="email" placeholder="Enter Your User Email">
        <button type="Submit" name="" class="cmn-btn">Reset</button>
      </div>

    </div>
  </div>
</section>
<!-- Footer Section -->
    <!-- Menu  -->
    <% include ../partials/footer %>