
<% include ../partials/header %>


    <!-- End Topbar Section -->

<section id="main">
  <div class="container">
    <div class="row brand">
      <div class="col-md-4"><a href="/blackchip-poker"><img src="images/bccc.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   <img src="images/197484.png">
		   
		   </small></a></div> 
	  
	  
	  
	  
	  
      <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
	  

	  
	  
      <div class="col-md-4"><br><a href="/swc"><img src="images/swc1.png">   <br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	  
	  <ul>
	  <li>▪ 5-50% Krill Waves VIP</li>
	 <li> ▪ 17.5% MGR (Exclusive)</li>
	  </ul>
	  <font face="verdana"><b><u>Other</u></b></font>
	  
	  <ul>
	  <li>▪ Hourly, Daily, Weekly Freerolls and Exclusives</li>
	  <li>▪ Biggest Selection of Games</li>
	  </ul>
	 
	  
	  <img src="images/swclegend.png">
	  
	  </small></a></div>
      <div class="col-md-4"><a href="/betonline"><img src="images/04.png">  <br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <ul>
	  <li>▪ 12.5% (Exclusive)</li>
	  <li>▪ $</li>
	  </ul>
	  <u><b><font face="verdana">Bonus</font></b></u>
	  <ul>
	  <li>▪ 100% up to $2500</li>
	  <li>▪ Freerolls and more</li>
	  </ul>
	  
	  </small></a></div>
      <div class="col-md-4"><a href="/intertoops"><img src="images/05.png">   <br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  
	  <ul>
	  <li>▪ 36% (Exclusive)</li>
	  
	  </ul>
	  <u><b><font face="verdana">Bonus</font></b></u>
	  <ul>
	  <li>▪ 200% up to $1000</li>
	  <li>▪</li>
	  </ul>
	  </small></a></div>
      <div class="col-md-4"><a href="/nitrogensports"><img src="images/06.png">  <br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <ul>
	  <li>▪ 1-70% (Exclusive)</li>
	  <li>▪ $100-1000 monthly (Exclusive)</li>
	  </ul>
	  <u><b><font face="verdana">Other</font></b></u>
	  <ul>
	  <li>▪</li>
	  <li>▪</li>
	  </ul>
	  </small></a></div>
	  
	  <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
	  
	  
	  <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
		   
		   
		   <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
		   
		   
		   <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
		   
		   
		   
		   <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
		   
		   
		   <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="/images/legend1.png">
		   
		   
		   
		   </small></a></div>   
		   
		   
		   <div class="col-md-4"><a href="/americas-cardroom"><img src="images/aacr.png">  <br><br><small><u><b><font face="verdana">Rakeback</font></b></u>
	  <br>
	
		<ul>
			<li>▪ Elite Benefits* or 27% Flat</li>
			<li>▪ 7.5% Extra* (Exclusive)</li>
			</ul>
			
		   <font face="verdana"><b><u>Bonus</u></b></font>
		   
		   <ul>
			<li>▪ 100% up to $1000</li>
			<li>▪ $150,000+ Rake Races </li>
			</ul>
		   <br>
		   
		   <img src="images/legend1.png">
		   
		   
		   
		   </small></a></div>   
	  
    </div>
  </div>
</section>
<% include ../partials/footer %>