<% include ../partials/header %>
  <!-- End Topbar Section -->

  <section id="main">
    <div class="container text-center">
      <div class="row brand">
        <div class="text-center login-form" style="margin: 0 auto; margin-top: 50px;">
          <form action="" method="">
            <div class="form-group">
              <label for="exampleInputEmail1">Enter Your Email Address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> I agree the Terms of Service.
              </label>
            </div>
            <div class="text-center but-div">
              <button class="cmn-btn">Create Account</button>
            </div>
          </form>
          <ul class="reg-menu text-center">
            <li>
              <a href="/contact">Contact us</a>
            </li>
            <li>
              <a href="/tos">Help</a>
            </li>
            <li>
              <a href="/forgot">Forgot Password ? </a>
            </li>
          </ul>
          <div class="text-center">
            <p>Already Member?</p>
            <div class="but-div">
              <a href="/login">
                <button class="cmn-btn ">Login Now</button>
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <% include ../partials/footer %>