<% include ../partials/header %>


    <!-- End Topbar Section -->

<section id="main" class="sec-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-9" style="border-right: 1px solid #000080;">
        <div class="single-post"> 
          <div class="post-thumbnail">
            <img src="images/post-thumbnail-1.jpg">
          </div>
          <div class="post-content">
            <h4 class="post-title"><a href="">What a Sick Beat</a></h4>
            <h6 class="date">12 February 2018 <span style="float: right;"><i class="fa fa-comments"> 20</i></span></h6>
            <p>The sickest beat I ever took happened in pot limit omaha. I had AAQX suited and raised before the flop. My opponent called my raise, much to my delight, because I was playing a very loose style.</p>
			<p>The flop came Ah Qh 3s. "OMG!" I thought to myself, "He must have hit that flop in some way." Sure enough, he tanked for a few seconds and called my continuation bet. 
          </div>
          <div class="share-btn"><h4>Share This</h4>
            <ul>
             <li><a href=""><i class="fa fa-facebook"></i></a></li>
             <li><a href=""><i class="fa fa-twitter"></i></a></li>
             <li><a href=""><i class="fa fa-linkedin"></i></a></li>
             <li><a href=""><i class="fa fa-instagram"></i></a></li>
           </ul>
        </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="blog-sidebar">
          <div class="archive">
            <h3 class="sidebar-title">
             Go to  Archive
            </h3>
            <input type="date" name="bday" min="2000-01-02">
          </div> 
         <!-- Recent Post -->
        <div class="recent-post">
            <h3 class="sidebar-title">
              Recent Posts
            </h3>
          <ul>
            <li><a href="">Hello World</a></li>
            <li><a href="">What is lorem Ipsum ? </a></li>
            <li><a href="">Why do we use it?</a></li>
          </ul>
        </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<% include ../partials/footer %>